<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rom.saltshaker"
    android:versionCode="2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/saltshaker_icon"
        android:label="소금통"
        android:roundIcon="@drawable/saltshaker_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LookActivity"></activity>
        <activity android:name=".WritePostActivity" />
        <activity android:name=".MemberinitActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PlantingActivity" />
        <activity android:name=".MovieActivity" />
        <activity android:name=".CookingActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".BakingActivity" />
        <activity android:name=".AccessoriesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>